<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    
    {% load django_bootstrap5 %}

    {% bootstrap_css %}

    {% bootstrap_javascript %}

    {% bootstrap_messages %}

    <title>django yoctopuce lux measurement website</title>
</head>
<body>
            <div  class="container">
    <br>
                    <a href="/" class="btn btn-primary">Home</a></center>
                   <a href="/show" class="btn btn-primary">List lux records</a></center>
                   <a href="/select" class="btn btn-primary">Select lux records with dates</a></center>
                <br>
                <br>
            </div>
            <<div class="col-sm-2">
            </div>
            <div  class="container" class="col-sm-10">
    {% block content %}

    {% endblock content %}
            </div>
</body>
</html>
