
{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
5.03.24: le capteur est actuellement situé dans un logement.
Le capteur yoctopuce yoctolight v4 capte des valeurs de luminosité mesurées en "lux" toutes les secondes.<br><br>
Toutes les 6Os, la mesure est enregistrée dans la base de donnée.<br><br>
La dernière valeur enregistrée dans la base de donnée par le capteur au chargement de cette page est:<br><br><br>
{{ value }} lux
le {{ timevalue }}
{% endblock %}
