
{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
    <form  method="POST"  class="post-form"  action="/select">
                    {%  csrf_token  %}

            <div  class="container">
    <br>
            <div  class="form-group  row">
            <div  class="col-sm-12">
            <h3>Entrer  les dates entre lesquelles récupérer les valeurs de luminosité (format JJ/MM/AAA)</h3>
            <span>par exemple pour le 1er mars 2024: date debut 01/03/2024 date fin 02/03/2024</span>
            </div>
        </div>
            <div  class="form-group  row">
            <label  class="col-sm-2  col-form-label">Date début</label>
            <div  class="col-sm-4">
                {{  form.mindate  }}
            </div>
        </div>
        <div  class="form-group  row">
            <label  class="col-sm-2  col-form-label">Date fin</label>
            <div  class="col-sm-4">
                {{  form.maxdate  }}
            </div>
        </div>
          

                <div  class="form-group  row">
                                <div  class="col-sm-2"></div>

            <div  class="col-sm-4">
            <button  type="submit"  class="btn  btn-primary">Valider</button>
            </div>
        </div>
            </div>
    </form>
{% endblock %}
