{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load tz %}

{% block content %}
<!-- Add CSV Export Button -->
<br>
<br>
    <button id="exportCsvBtn" class="btn btn-primary">Export CSV</button>

    <script>
        // Add JavaScript for CSV export
        document.getElementById('exportCsvBtn').addEventListener('click', function () {
            exportTableToCsv('luxTable.csv');
        });

        function exportTableToCsv(filename) {
            var csv = [];
            var rows = document.querySelectorAll('table tr');

            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll('td, th');

                for (var j = 0; j < cols.length; j++)
                    row.push(cols[j].innerText);

                csv.push(row.join(','));
            }

            // Create a Blob and download the CSV file
            var blob = new Blob([csv.join('\n')], { type: 'text/csv;charset=utf-8;' });
            var link = document.createElement('a');
            link.href = URL.createObjectURL(blob);
            link.setAttribute('download', filename);
            link.click();
        }
    </script>
Mesures des dernières 72h par défaut
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Time</th>
        <th>Lux</th>
    </tr>
    </thead>
   <tbody>
{% for lux in luxs %}
    <tr>
{% localtime on %}
        <td>{{ lux.time }}</td>
{% endlocaltime %}
        <td>{{ lux.lux }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br>
<br>

{% endblock %}
